@import '~LessConstants';

.main {
  @media (max-width: 500px) {
    padding: 20px;
  }

  @media (min-width: 501px) {
    padding: 40px;
  }

  .logos-header {
    display: block;
    text-align: center;
    margin-bottom: 40px;

    img {
      display: inline-block;

      &:first-child {
        margin-right: 10px;
      }
    }

    .header {
      font-family: @font;
      color: @graphite;
      font-size: 30px;
      opacity: 0.8;
    }
  }

  .content {
    text-align: center;

    .main-buttons {
      margin-bottom: 30px;

      button {
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
