@import '~LessConstants';

.input {
  display: block;
  position: relative;
  width: 100%;
  background-color: @clouds;
  color: @graphite;
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  border: 1px solid @purplish;
  border-radius: 4px;
  padding: 4px 12px;
  margin: 10px 0;
  cursor: pointer;
  box-sizing: border-box;

  &::placeholder {
    color: @graphite;
    font-family: @font;
    font-weight: 100;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px @clouds inset !important;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: @graphite !important;
  }
}
