@import '~LessConstants';

.form-container {
  width: 100%;
  color: @graphite;

  .form-heading {
    font-family: @font;
    font-size: 22px;
    opacity: 0.9;
    margin-bottom: 10px;
  }

  .form {
    display: block;
    border: 1px solid @grayish;
    padding: 20px;
    margin: auto;

    @media (max-width: 500px) {
      width: 90%;
      margin: auto;
    }

    @media (min-width: 501px) {
      width: 400px;
    }

    .message {
      height: 20px;
      margin: 5px 0;
      font-family: @font;
      font-size: 14px;
      text-align: left;

      .error {
        color: @red;
        font-weight: 100;
      }

      .success {
        color: @green;
        font-weight: 100;
      }
    }

    .buttons {
      margin-top: 10px;

      @media (max-width: 350px) {
        button {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }

      @media (min-width: 351px) {
        button {
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
