@import (css) url('https://fonts.googleapis.com/css?family=Roboto');
@font: 'Roboto', sans-serif;

@white: #fff;
@red: #dd0000;
@green: #22e87f;
@clouds: #e2e4e9;
@graphite: #25303d;
@grayish: #cdd2e4;
@purplish: #acaedb;
@background: #f3f4f7;
