@import '~LessConstants';

.edit-field {
  position: relative;
  display: inline-block;
  max-width: 160px;
  color: @graphite;
  background: @clouds;
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  outline: none;
  border: 1px solid @purplish;
  border-radius: 4px;
  padding: 4px;
  margin: 0 auto;
  cursor: text;
  box-sizing: border-box;

  &::placeholder {
    color: @graphite;
    font-family: @font;
    font-weight: 100;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px @background inset !important;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: @graphite !important;
  }
}
