@import '~LessConstants';

.button {
  display: inline-block;
  position: relative;
  width: 130px;
  background-color: @purplish;
  color: @white;
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  border: 0;
  border-radius: 4px;
  padding: 6px 0;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    cursor: default;
  }
}
