@import '~LessConstants';

@desktop: ~'only screen and (min-width: 760px)';
@mobile: ~'only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)';

.list {
  font-family: @font;
  color: @graphite;

  .list-heading {
    font-family: @font;
    font-size: 22px;
    opacity: 0.9;
    margin-bottom: 10px;
  }

  @media @mobile {
    // See: https://css-tricks.com/responsive-data-tables/

    table,
    thead,
    tbody,
    td,
    tr {
      display: block;
    }

    th {
      display: none;
    }

    table,
    td {
      border: 1px solid @grayish;
      border-collapse: collapse;
    }

    td {
      position: relative;
      padding: 10px;
      text-align: right;

      &:before {
        position: absolute;
        top: 12px;
        left: 10px;
        white-space: nowrap;
      }

      &:last-child {
        border-bottom: 4px solid @grayish;
      }

      &:nth-of-type(1):before {
        content: 'Username:';
      }
      &:nth-of-type(2):before {
        content: 'First name:';
      }
      &:nth-of-type(3):before {
        content: 'Last name:';
      }
      &:nth-of-type(4):before {
        content: 'Email:';
      }
      &:nth-of-type(5):before {
        content: 'Actions:';
      }
    }

    .edit,
    .delete {
      text-align: right !important;
    }
  }

  @media @desktop {
    table {
      color: @graphite;
      width: 100%;

      th {
        font-weight: 600;
        opacity: 0.8;
        font-style: italic;
        text-align: center;
        padding: 10px;
      }

      td {
        vertical-align: top;
        font-weight: 400;
        padding: 10px;
      }

      .edit-td {
        padding: 7px 0 0 !important;
      }
    }

    table,
    th,
    td {
      border: 1px solid @grayish;
      border-collapse: collapse;
    }

    .edit,
    .delete {
      text-align: center;

      &:hover {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}
